<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437453397940-b9ckf9hijtt5rok7f29r3eo6nkfrffb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437453397940-b9ckf9hijtt5rok7f29r3eo6nkfrffb2</string>
	<key>API_KEY</key>
	<string>AIzaSyCXDvY8KHZdOBf5lXfOlwYbRqkHVstlE-4</string>
	<key>GCM_SENDER_ID</key>
	<string>437453397940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c-lo..SignInUsingGoogle</string>
	<key>PROJECT_ID</key>
	<string>sign-100b2</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-100b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437453397940:ios:a752518101ffc6b4e01ce1</string>
</dict>
</plist>